* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fantasy", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  /* border: 1px solid lime; */
}

.container-nav {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  min-width: 900px;
}
.menu,
.signup {
  display: inline-block;
  justify-content: flex-end;
  margin: 0 40px;
  gap: 1rem;
}
.menu a,
.signup a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18.5px;
  transition: 0.4s;
  padding: 10px 25px;
  margin: 0 5px;
  border-radius: 100px;
}
.menu a:hover,
.signup a:hover {
  background-color: #e74c14;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 16px 32px;
  background-color: #212121;
  border-bottom: 3px solid #e74c14;
}

.signup a {
  border-radius: 0;
  padding: 16px 24px;
  border: 1px solid white;
}
body {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 30%;
}

.sub {
  margin: 0 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  color: black;
  position: relative;
  top: 20%;
  font-family: "monoton", sans-serif;
}
h2 {
  padding-bottom: 15px;
  margin-top: 25px;
}
h3 {
  font-weight: 200;
}
p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(46, 46, 46);
  position: relative;
  top: 10%;
  padding-top: 20px;
}
.email p {
  padding: 10px 0;
  font-weight: 200;
}
