.container .box-container .screen form .error-msg {
  margin: 10px 0;
  display: block;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: rgb(34, 33, 33);
  /* border: 1px solid lime; */
}
body {
 background-image: linear-gradient(
      135deg,
      rgba(209, 109, 47, 0.7),
      rgba(50, 75, 174, 0.7)
    ),
    url(./img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
  width: 420px;
  min-width: 360px;
}
.screen h1 {
  position: relative;
  top: 15px;
  left: -30px;
  text-align: center;
  font-family: "monoton", sans-serif;
  font-size: 50px;
  color: #fff;
}
.login {
  width: 380px;
  padding: 30px;
  padding-top: 36px;
  /* border: 1px solid lime; */
}

.login_field {
  padding: 15px 0px;
  position: relative;
  left: 30px;
}

.login_icon {
  position: absolute;
  top: 22px;
  color: rgb(14, 15, 28);
}

.login_input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 6px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login_input:hover {
  outline: none;
  border-bottom-color: #0e0e0d;
}

.login_submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 80%;
  box-shadow: 0px 2px 2px #211e3b;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  left:6.5%;
}

.login_submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button_icon {
  font-size: 24px;
  margin-left: auto;
  color: #0e0d1b;
}
::placeholder {
  color: #c5bfbf;
  font-size: 1rem;
  text-align: left;
  font-family: "Rubik", sans-serif;
}

.sign-up {
  position: relative;
  top: 23px;
  left: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s;
}

.sign-up a {
  text-decoration: none;
  font-weight: 500;
  color: #e74c14;
}

.login-image {
  width: 600px;
  min-width: max-content;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-container {
  box-shadow: 0px 0px 24px #303033;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./background_login_final.001.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#toggle-btn {
  display: flex;
  border-radius: 50px;
  border: 3px solid rgb(226, 81, 23);
  background-color: rgb(230, 86, 29);
  overflow: hidden;
  width: 200px;
  position: absolute;
  cursor: pointer;
  margin: 30px;
  user-select: none;
  color: #fff;
  top: 30px;
  left: 12%;
  -webkit-user-select: none;
}
#toggle-btn p {
  font-family: 'Signika', sans-serif;
}
.solid,
.line {
  color: #fff;
  padding: 10px;
}
.line {
  color: black;
  background-color: #fff;
}
.hide {
  display: none;
}
.show {
  display: inline;
}
input:focus {
  outline: none;
}
.material-symbols-outlined{
  position: absolute;
  left:-6px;
}
.button_text .material-symbols-outlined{
  position: absolute;
  bottom:60px;
  left:250px;
}